{% extends "Base/parent.twig" %}

{% block body %}
    Ngươi đem tiền giao cho xa phu, xa phu nhiệt tình mà mở ra thùng xe môn, lãnh ngươi lên xe ngựa.
    <br/>
    <a href="{{ url(request, waiting_url) }}">Chờ đợi</a>
{% endblock %}