{% extends "Base/parent.twig" %}

{% block body %}
    Thùng xe nội
    <br/>
    Bức màn kéo xuống dưới, ánh mặt trời từ khe hở trung thấu tiến vào.
    <br/>
    Xa phu ngồi ở phía trước, một đường vội vàng mã, một đường đắc ý mà hừ cái gì tiểu điều.
    <br/>
    <a href="{{ url(request, waiting_url) }}">Chờ đợi</a>
{% endblock %}