{% extends "Base/parent.twig" %}

{% block body %}
    Xa phu giơ lên roi ngựa “Bang” mà quăng một chút, xe ngựa ầm ầm ầm mà khai lên...
    <br/>
    Xe ngựa càng chạy càng nhanh... Càng chạy càng nhanh...
    <br/>
    <a href="{{ url(request, waiting_url) }}">Chờ đợi</a>
{% endblock %}