{% extends "Base/parent.twig" %}

{% block body %}
    Một, Bái sư: Ở Trường An khách điếm điểm đánh Liễu như yên, Vô danh khất cái hoặc Thanh pháp sư, lại điểm “Bái sư” là được.
<br/>
Nhị, học nghệ: Điểm đánh sư phó, điểm “Học nghệ”, điểm đánh mỗ hạng kỹ năng có thể học nghệ.
<br/>
Tam, Tu hành cùng Nội lực một: Đi khách điếm bên ngoài cùng xuân hoa, cu li Luận bàn nhưng đến, học nghệ yêu cầu Nội lực.
<br/>
Bốn, Tu hành cùng Nội lực nhị: Cùng Giang hồ Bách Hiểu SinhĐối thoại, hoàn thành hắn nhiệm vụ cũng trở về báo cáo, cũng có thể gia tăng, còn có thể thông qua Tân Thủ thôn hồ nước câu cá gia tăng.
<br/>
Năm, hành tẩu: Đây là một cái thế giới giả thuyết, có bản đồ khái niệm, cho nên hành tẩu khi phải chú ý trở về lộ.
<br/>
Sáu, Trò chuyện trực tuyến: Điểm đánh “Trạng thái / lựa chọn” → “Trò chuyện trực tuyến” → “Tại tuyến người dùng” → “Gửi tin nhắn” có thể khai liêu.
<br/>
Bảy, giao lưu: Điểm đánh cùng phòng nội người chơi, lựa chọn “Đối thoại” cũng có thể Bắt đầu nói chuyện phiếm.
<br/>
Tám, Dịch chuyển tức thời: Điểm đánh “Trạng thái / lựa chọn”, lựa chọn “Dịch chuyển tức thời”, liền có thể trực tiếp tới cửa hàng, tiền trang, hiệu cầm đồ, khách điếm.
<br/>
Chín, ở Trường An khách điếm phía đông suy nghĩ phòng, điểm “Suy nghĩ” có thể đề cao một bậc cơ bản kỹ năng.
<br/>
Mười, ở suy nghĩ phòng điểm “Giang hồ hiểu biết” đáp đúng sau nhưng tùy cơ đạt được Hoàng kim, Nội lực cùng Tinh thần; điểm “Tìm tòi” nhưng tùy cơ được đến võ công thư.
<br/>
Mười một, điểm đánh võ công thư, có thể “Học tập”, lấy đề cao cơ bản kỹ năng.
<br/>
Mười hai, cùng Trường An quảng trường phía tây lưu manh Đối thoại có thể Bắt đầu cốt truyện nhiệm vụ, có phong phú khen thưởng.
<br/>
Mười ba, cửa hàng có thể mua bán đồ vật, hiệu cầm đồ có thể tồn đồ vật, tiền trang có thể tồn tiền.
<br/>
Mười bốn, Kỹ năng phối trí: Điểm đánh chính mình mỗ hạng cơ bản kỹ năng, như cơ bản kiếm thuật, liền nhưng cùng cao cấp kiếm thuật phối hợp sử dụng, uy lực vô cùng.
<br/>
Mười lăm, Tuyệt chiêu: Cao cấp công kích kỹ năng học tập đến 5 cấp sau, liền có thể phát ra cái thứ nhất Tuyệt chiêu.
<br/>
Mười sáu, Tu luyện Nội lực: Điểm đánh “Trạng thái cơ thể”, lựa chọn “Tu luyện Nội lực” ( trước đây cần học được Cơ bản nội công ) tay mới người chơi có một tháng trò chơi thí chơi kỳ.
    <br/>
    <a href="{{ url(request, 'Map/WhatCanIDo/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}