{% extends "Base/parent.twig" %}

{% block body %}
Ngươi đem Bắt đầu một đoạn tuyệt mỹ truyền kỳ chuyện xưa. Ngươi thích nữ tử rền vang bị một cái kẻ thần bí cướp đi, từ Tân Thủ Thôn quảng trường hướng tây đi 3 bước đến Chu Tước đường cái, hướng bắc đi 1 bước đến Trường An quảng trường, lại hướng tây đi một bước đến Bạch Hổ đường cái, nơi đó có cái lưu manh, hắn biết một ít tin tức, cùng hắn Đối thoạiBắt đầu này đoạn truyền kỳ đi, nếu hắn không ở, có thể kiên nhẫn chờ một đoạn thời gian, hắn sẽ một lần nữa xuất hiện.
    <br/>
    <a href="{{ url(request, 'Map/WhatCanIDo/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}