{% extends "Base/parent.twig" %}

{% block body %}
    Đánh quái mệt mỏi? Tới mỹ lệ Kính Hồ câu câu cá đi, từ Tân Thủ Thôn quảng trường hướng bắc đi một bước liền đến. Nhớ rõ đi trước Kính Hồ phía tây cửa hàng mua một cây câu cá can, sau đó điểm “Trạng thái / lựa chọn―Đồ Đạc― câu cá can ― lắp ráp” liền có thể lắp ráp thượng sử dụng.
<br/>
Hoặc là ngươi cũng có thể đi Trường An thành sòng bạc chơi đánh cuộc lớn nhỏ bác một bác, đương nhiên đánh bạc ngươi yêu cầu có được nhất định tiền vốn, Trường An thành sòng bạc tạm thời chỉ tiếp thu Hoàng kim làm tiền đặt cược, đơn thứ đánh bạc 1-200Hoàng kim.
    <br/>
    <a href="{{ url(request, 'Map/WhatCanIDo/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}