{% extends "Base/parent.twig" %}

{% block body %}
    Cái này liền đơn giản, ngươi liền đến chỗ đi thôi, quen thuộc bản đồ có chỗ lợi, phải về đến Tân Thủ thôn rất đơn giản, điểm “Trở lại trang đầu― Tân Thủ thôn” liền đã trở lại.
    <br/>
    <a href="{{ url(request, 'Map/WhatCanIDo/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}