{% extends "Base/parent.twig" %}

{% block body %}
    Từ Tân Thủ Thôn hướng nam, có một cái lôi đài, ở chỗ này, ngươi có thể cùng người chơi khác luận võ cùng PK, chính mình có bao nhiêu lợi hại, tới đó cùng người khác quá so chiêu liền biết, có khả năng sẽ bị người khác giết chết, vài phút sau nhưng sống lại. Mặt khác, nếu ngươi Tu hành mãn 5 năm, ở trên đường tùy tiện gặp được một cái người chơi, ngươi cũng có thể cùng hắn Luận bàn hoặc Giết chóc.
<br/>
    <a href="{{ url(request, 'Map/WhatCanIDo/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}