{% extends "Base/parent.twig" %}

{% block body %}
    Điểm đánh nào đó người chơi tên, sau đó điểm “Mời đội”, sau đó chờ đối phương đồng ý, nhớ rõ nhiều mời mấy cái, như vậy thành công xác suất đại chút, tổ đội sau, đối phương sát quái, ngươi tự động đến Tu hành! Có thể tự động thăng cấp, ha ha! Ở Trạng thái / lựa chọn― giang hồ trong bang phái có thể xin gia nhập bang phái, bang phái người phụ trách phê chuẩn sau ngươi chính là bang phái một viên, về sau liền có rất nhiều huynh đệ. Bang phái sẽ vì thành viên mang đến rất nhiều phúc lợi nga, nhưng là bang phái cũng yêu cầu mỗi cái thành viên đồng tâm hiệp lực cộng đồng phát triển lớn mạnh.
<br/>
    <a href="{{ url(request, 'Map/WhatCanIDo/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}