{% extends "Base/parent.twig" %}

{% block body %}
    Từ Tân Thủ Thôn quảng trường hướng tây đi một bước, sau đó hướng nam đi một bước liền có thể đến suy nghĩ phòng, ở suy nghĩ trong phòng liều mạng tìm tòi, có thể lục soát võ công bí tịch! Lục soát sau sau đó ở “Trạng thái / lựa chọn--Đồ Đạc” lựa chọn nó liền có thể đọc! Mặt khác, đánh quái sau có rất nhỏ xác suất tuôn ra võ công tâm pháp, loại này võ công tâm pháp không tầm thường! Lắp ráp sau lựa chọn tu luyện, nó đem có thể ở trong chiến đấu tự động trưởng thành! Tay mới nếu đạt được rất lợi hại võ công tâm pháp tỷ như Cửu Dương Thần Công, đem có thể nhất cử đánh bại cao thủ, tiếu ngạo giang hồ!
<br/>
    <a href="{{ url(request, 'Map/WhatCanIDo/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}