{% extends "Base/parent.twig" %}

{% block body %}
    Ở Tân Thủ thôn quảng trường điểm “Võ lâm người mang tin tức”, sau đó lựa chọn truyền tin, nhớ kỹ đưa cho ai, sau đó đi trên bản đồ nơi nơi tìm, tìm được người này sau, điểm “Trạng thái / lựa chọn―Đồ Đạc―Một phong thư― truyền tin” là có thể được đến Tu hành cùng Nội lực khen thưởng, tay mới ( Tu vi ba mươi năm dưới ) dùng phương pháp này thăng cấp thực mau.
<br/>
    <a href="{{ url(request, 'Map/WhatCanIDo/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}