{% extends "Base/parent.twig" %}

{% block body %}
   Ở Trường An thành nơi nào đó, có một cái đào viên, ngươi có thể kêu lên ngươi bằng hữu, đi nơi đó, điểm đánh “Kết bái”, sau đó lựa chọn ngươi bằng hữu tên, đối phương cũng điểm đồng ý, các ngươi liền có thể kết bái thành công. Lúc sau đối phương đánh trách ngươi cũng có thể tự động đạt được Tu hành; Trường An nơi nào đó còn có một cái động phòng, ngươi kêu lên ngươi người yêu đi nơi đó, điểm “Cầu hôn”, đối phương đồng ý sau các ngươi liền có thể trở thành phu thê, lúc sau đối phương đánh trách ngươi cũng có thể tự động thăng cấp.
<br/>
    <a href="{{ url(request, 'Map/WhatCanIDo/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}