{% extends "Base/parent.twig" %}

{% block body %}
    Tân Thủ thôn quảng trường hướng nam 2 bước, có một cái Thiên Long Bát Bộ Quần Phương Lâu, nơi đó có mười đại mỹ nữ, theo ngươi Tu hành đề cao, ngươi có thể nhất nhất chinh phục các nàng phương tâm, đạt được các nàng ái.
<br/>
    <a href="{{ url(request, 'Map/WhatCanIDo/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}