{% extends "Base/parent.twig" %}

{% block body %}
    Từ Tân Thủ Thôn quảng trường hướng tây đi hai bước, có thể tới Trường An khách điếm, ở khách điếm điểm Thanh pháp sư, Liễu như yên, Vô danh khất cái tùy ý một người, sau đó điểm “Bái sư” là được, Bái sư sau, điểm Trở lại, sau đó điểm “Học nghệ” liền có thể học võ công!
<br/>
    <a href="{{ url(request, 'Map/WhatCanIDo/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}