{% extends "Base/parent.twig" %}

{% block body %}
    Tân Thủ thôn quảng trường hướng tây 4 bước là giang hồ đại sảnh, nơi đó có tiểu trà lâu, ngươi có thể ở nơi đó phát dán cùng người khác giao lưu, cũng xin giúp đỡ. Đương nhiên nếu ngươi cảm thấy diễn đàn đại gia vô pháp kịp thời hồi phục, như vậy ngươi có thể lựa chọn càng thêm hiện đại trực tiếp phương thức: Gia nhập chúng ta phía chính phủ người chơi giao lưu đàn, ở Q đàn nội cùng đại gia giao lưu, gia nhập Q đàn còn nhưng liên hệ quản lý viên lĩnh ma mới trợ lực lễ bao một phần nga.
<br/>
    <a href="{{ url(request, 'Map/WhatCanIDo/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}