{% extends "Base/parent.twig" %}

{% block body %}
    Từ Tân Thủ Thôn hướng nam 5 bước, sẽ thấy Đao Bạch Phượng, cùng nàng Đối thoại, nàng sẽ làm ngươi giúp nàng tìm kiếm, ấn nàng yêu cầu tìm toàn một bộ kiếm sau, ngươi sẽ nhanh chóng trở thành cao thủ, nàng muốn tìm kiếm giống nhau ở giang hồ chợ đen có bán.
<br/>
    <a href="{{ url(request, 'Map/WhatCanIDo/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}