{% extends "Base/parent.twig" %}

{% block body %}
        Từ Tân Thủ Thôn quảng trường hướng bắc đi, đến Kính Hồ, có thể nhặt tiền; hướng tây đi đến Trường An khách điếm, cùng Giang hồ Bách Hiểu SinhĐối thoại lĩnh nhiệm vụ, hoàn thành nhiệm vụ sau có thể tránh đến tương đối nhiều tiền, nhiệm vụ không hảo làm còn có thể hủy bỏ sau trọng lãnh.
<br/>
    <a href="{{ url(request, 'Map/WhatCanIDo/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}