{% extends "Base/parent.twig" %}

{% block body %}
   Bất luận cái gì thời điểm ngươi nếu lạc đường, điểm “Trở lại trang đầu”, sau đó điểm “Tân Thủ thôn”, liền lại có thể trở lại Tân Thủ thôn; nếu ngươi có tiền, còn có thể đến Trường An quảng trường ngồi xe ngựa, có thể thực mau tới cả nước các thành phố lớn.
<br/>
    <a href="{{ url(request, 'Map/WhatCanIDo/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}