{% extends "Base/parent.twig" %}

{% block body %}
    Chú ý tên trước không có bất luận cái gì miêu tả chính là hệ thống người, mà có thuyết minh chính là chân thật người chơi. Có thể sát hệ thống người đề cao chính mình cấp bậc; Tân Thủ thôn quảng trường có bất tử mộc nhân cung ngươi “Tàn phá”, Bắt đầu có thể trước sát miêu tả vì “Bất kham một kích” nhân vật, về sau theo thứ tự đánh không đáng nhắc đến, không chút nào đủ lự, phổ phổ thông thông người.
<br/>
    <a href="{{ url(request, 'Map/WhatCanIDo/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}