{% extends "Base/parent.twig" %}

{% block body %}
    Từ Tân Thủ Thôn quảng trường hướng bắc, sau đó hướng tây, liền có cửa hàng, nơi đó hoa 10 lượng bạc liền có thể mua được trúc đao, trúc kiếm chờ vũ khí, về sau có tiền còn có thể đi Trường An cửa hàng mua đồng đao đồng kiếm.
<br/>
    <a href="{{ url(request, 'Map/WhatCanIDo/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}