{% extends "Base/parent.twig" %}

{% block body %}
    Phía trước không phải bái quá sư học quá nghệ không? Võ công có hai loại: Cơ bản võ công cùng Đặc thù võ công, tỷ như: Cơ bản quyền pháp cùng đại kim cương quyền. Đặc thù võ công phía trước sẽ có một cái tiểu khung vuông, Đặc thù võ công học được đệ 5 chiêu liền có thể phát Tuyệt chiêu, nhưng yêu cầu phối trí một chút: Theo thứ tự điểm đánh Trạng thái / lựa chọn―Trạng thái cơ thể―Kỹ năng phối trí―Cơ bản võ công ( như cơ bản quyền pháp ), sau đó lựa chọn Đặc thù võ công như đại kim cương quyền liền phối trí thành công.
<br/>
    <a href="{{ url(request, 'Map/WhatCanIDo/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}