{% extends "Base/parent.twig" %}

{% block body %}
    Đến trong thế giới này nơi nơi đi dạo, sẽ gặp được rất nhiều người, điểm đánh, sẽ có người danh danh sách, người danh phía trước không có bất luận cái gì miêu tả chính là hệ thống người, có miêu tả chính là chân thật người chơi, như: Giang hồ tên côn đồ, bình thường bá tánh hải tặc phu nhân, Ma giáo đời thứ năm đệ tử “Nhậm Doanh Doanh” xong nhan không phá; này 3 cá nhân trung, đệ 1 cái là hệ thống người, sau hai cái đều là người chơi, điểm tên của bọn họ, sau đó lựa chọn “Đối thoại”, liền có thể cùng bọn họ nói chuyện phiếm. Mặt khác, điểm đánh Trạng thái / lựa chọn--Trò chuyện trực tuyến, cũng có thể lựa chọn nhậm Kênh trò chuyệnBắt đầu nói chuyện phiếm.
<br/>
    <a href="{{ url(request, 'Map/WhatCanIDo/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}