{% extends "Base/parent.twig" %}

{% block body %}
    Từ Tân Thủ Thôn quảng trường hướng tây đi vào tụ nghĩa sảnh, điểm “Ta muốn Bái sư”, sau đó lựa chọn một người, liền có thể phát ra Bái sư thỉnh cầu, có thể nhiều hướng vài người phát ra thỉnh cầu, nếu đối phương đồng ý, liền Bái sư thành công, lúc sau có thể ở “Trạng thái / lựa chọn―Quan hệ giang hồ― thầy trò quan hệ” trung hoà sư phó nói chuyện phiếm.
    <br/>
    <a href="{{ url(request, 'Map/WhatCanIDo/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}