{% extends "Base/parent.twig" %}

{% block body %}
    「{{ role_skill.name }}」Đã phối trí.
    <br/>
    <a href="{{ url(request, 'Role/Skill/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}