{% extends "Base/parent.twig" %}

{% block body %}
    Vị này đại hiệp, ngươi đã hoàn thành quá nhiều nhiệm vụ, yêu cầu nghiệm chứng sau mới có thể Tiếp tục nhiệm vụ. ( như không nghiệm chứng, đem tạm dừng liên tục nhiệm vụ, thả liên tục nhiệm vụ hoàn số sẽ không đình chỉ tích lũy. )
    <br/>
    <button class="link" onclick="window.location.href='{{ url(request, 'Map/ConsecutiveMission/verify') }}'">Đi để xác minh</button>
    {#    <a href="{{ url(request, 'Map/ConsecutiveMission/verify') }}">Đi để xác minh</a> #}
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}