{% extends "Base/parent.twig" %}

{% block body %}
    {{ sentence }}
    <br/>
    {% if consecutive_mission_message is not empty %}
        {{ consecutive_mission_message }}
        <br/>
    {% endif %}
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}