{% extends "Base/parent.twig" %}

{% block body %}
    Phục kích
    <br/>
    Thiên hạ phong vân ra chúng ta, vừa vào giang hồ năm tháng thúc giục. Hoành đồ bá nghiệp trong lúc nói cười, không thắng nhân sinh một hồi say.
    <br/>
    Tà dương, cổ đạo, mấy ngày liền tung thảo ở gió đêm trung lạnh run rung động.
    <br/>
    Một vị huyền y thanh niên, chính bay nhanh ở cổ đạo thượng. Hắn thân bối một ngụm cổ kiếm, thần sắc ngưng trọng, hai hàng lông mày trói chặt, không ngừng ra roi thúc ngựa, tựa hồ thân phụ cực kỳ quan trọng nhiệm vụ. Trong lòng ngực còn hệ một cái bao lớn, không biết là vật gì.
    <br/>
    Bỗng nhiên, từ hao thảo trung liên tiếp bắn ra mấy trăm mũi ám khí, này ám khí từ bốn phương tám hướng mà đến, thế đi lại cấp, mắt thấy thanh niên liền phải tang thân tại đây.
    <br/>
    <a href="{{ url(request, 'User/Plot/step/2') }}">Tiếp tục</a>
{% endblock %}