{% extends "Base/parent.twig" %}

{% block body %}
    Ngươi ngửa mặt lên trời thét dài, lập tức quyết định:
    <br/>
    <a href="{{ url(request, 'User/Plot/step/11') }}">Giết chết lưu manh, giải trong lòng chi hận</a>
    <br/>
    <a href="{{ url(request, 'User/Plot/step/12') }}">Việc này không nên chậm trễ, tây hành cứu mỹ nhân</a>
    <br/>
    <a href="{{ url(request, 'User/Plot/step/13') }}">Bàn bạc kỹ hơn, bái sư học nghệ</a>
{% endblock %}