{% extends "Base/parent.twig" %}

{% block body %}
    Kẻ giết người
    <br/>
    Ngày hôm sau, ngươi hoài tàng một phen lưỡi dao sắc bén, ở Trường An đầu đường chính tay đâm kia mấy cái cười nhạo ngươi lưu manh, ngươi xem mũi đao nhỏ giọt máu tươi, cảm thấy một tia khoái ý, liền ở ngươi xoay người chuẩn bị rời đi là lúc, một thanh trường kiếm từ phía sau đâm trúng ngươi, từ ngươi bụng đối xuyên mà ra, ngươi ngã xuống Trường An đầu đường, phía sau, tuần bộ cười lạnh nói năm chữ: Kẻ giết người đền mạng!
    <br/>
    <a href="{{ url(request, 'User/Plot/step/10') }}">Thần a, thỉnh một lần nữa ban cho ta một lần sinh mệnh đi!</a>
{% endblock %}