{% extends "Base/parent.twig" %}

{% block body %}
    Thoa nón khách
    <br/>
    Ngày hôm sau, ngươi mang hảo lương khô hành lý, bị hảo ngựa, ra Bạch Hổ môn hướng tây mà đi, ở Hàm Dương, ngươi gặp một người thoa nón khách, ngăn cản ngươi tây hành, ngươi mọi cách giải thích vô dụng, dưới sự giận dữ rút kiếm tương hướng, kết quả thoa nón khách chỉ nhất kiếm, liền đem ngươi cánh tay trái tề sinh sôi mà tiệt xuống dưới, thoa nón khách nói: “Cho ngươi cái giáo huấn, về sau ra tay trước trước ước lượng một chút thực lực của chính mình.” Ngươi đầy cõi lòng xấu hổ và giận dữ mà phản hồi Trường An, bị mọi người coi là phế nhân, ngươi cuối cùng lưu lạc đầu đường, trở thành khất cái!
    <br/>
    <a href="{{ url(request, 'User/Plot/step/10') }}">Phật Tổ, xin cho ta trở lại từ trước đi!</a>
{% endblock %}