{% extends "Base/parent.twig" %}

{% block body %}
    Bái sư
    <br/>
    Trưa hôm đó, ngươi đầy người huyết ô mà xuất hiện ở Trường An khách điếm. Nghe nói Thiếu Lâm, Ngũ Nhạc, càn ý giáo ở khách điếm đều có nhân vật đóng quân, ngươi chuẩn bị trước bái sư, sau đó đi quảng trường phụ cận lưu manh kia hỏi thăm cướp đi rền vang chính là người nào. Ngươi thề muốn khắc khổ học nghệ, sớm ngày cứu trở về tình nhân trong mộng.
    <br/>
    <a href="{{ url(request, 'User/Plot/over') }}">Bắt đầu trò chơi</a>
{% endblock %}