{% extends "Base/parent.twig" %}

{% block body %}
    Thanh niên gầm lên một tiếng, thân hình bạo trướng, hắn một trận chưởng phong xẹt qua, ám khí sôi nổi ngã xuống. Nhưng cùng lúc đó, một trận quỷ dị tiếng sáo vang lên, hao thảo trung lại du ra mấy chục chỉ rắn độc, thẳng bức thanh niên, đồng thời, mười dư điều bóng người nhảy lên, toàn hắc y, tề hướng thanh niên công tới.
    <br/>
    Thanh niên rút kiếm ứng chiến, trong nháy mắt, đã giao thủ mười chiêu hơn. Thanh niên tựa hồ rất là cố kỵ trong lòng ngực bao vây, công thủ chi gian, đại chịu hạn chế. Hai mươi chiêu qua đi, hắc y nhân trung có hai người bị thương, nhưng thanh niên cũng đã ba chỗ bị thương, máu tươi ào ạt mà ra, đã khó lâu cầm.
    <br/>
    Mắt thấy thanh niên đã dần dần chống đỡ hết nổi, nhưng vào lúc này, trong đó một người hắc y nhân như quỷ mị gần sát thanh niên bên cạnh, một phen đoạt quá bao vây, thi triển khinh công, cấp tốc từ mọi người trên đầu xẹt qua. Mọi người cùng nhau kinh hô, đợi đến phản ứng lại đây, hắc y nhân đã qua xa.
    <br/>
    Thảo nguyên nơi xa, truyền đến một tiếng trẻ con khóc nỉ non, thật lâu quanh quẩn...
    <br/>
    Ai cũng sẽ không nghĩ đến, phát sinh ở hao thảo gian trận này phục kích, thay đổi toàn bộ võ lâm.
    <br/>
    <a href="{{ url(request, 'User/Plot/step/3') }}">Tiếp tục</a>
{% endblock %}