{% extends "Base/parent.twig" %}

{% block body %}
    20 năm sau...
    <br/>
    Tây Vực quật khởi một cái thần bí môn phái, hào rằng “Càn ý giáo”, này giáo chủ cập thủ hạ mười đại trưởng lão võ công sâu không lường được, thả môn đồ đông đảo.
    <br/>
    Ngắn ngủn mấy tháng trong vòng, Hoa Sơn, Côn Luân, Nga Mi, Thanh Thành các phái chưởng môn thần bí mất tích, truyền thuyết toàn đã mệnh tang nên giáo tay.
    <br/>
    Môn đồ tứ tán. Trung Nguyên võ lâm một mảnh khủng hoảng, xưng là Ma giáo, kinh động Thiếu Lâm cao tăng. Cuối mùa xuân, Thiếu Lâm tứ đại cao tăng cùng Ma giáo năm đại trưởng lão chiến với Hoa Sơn.
    <br/>
    Ma giáo bất lợi, này thế hơi lui, nhưng này bóng ma, vẫn cứ bao phủ với Trung Nguyên võ lâm, cùng lúc đó, phương nam một cái tân môn phái ---- Ngũ Nhạc kiếm phái, đang ở lặng yên quật khởi.
    <br/>
    Mà các lộ giang hồ hào kiệt, cũng tại đây hỗn loạn là lúc, tự lập bang phái, trong lúc nhất thời, quần hùng cũng khởi.
    <br/>
    <a href="{{ url(request, 'User/Plot/step/4') }}">Tiếp tục</a>
{% endblock %}