{% extends "Base/parent.twig" %}

{% block body %}
    Giang hồ truyền thuyết: Mỗi cách một đoạn thời kỳ, võ lâm chí bảo ---- đoạt bảo thần hộp liền sẽ xuất hiện. Tại đây hộp nội, cất giấu mấy trăm năm nội từ lâu thất truyền tuyệt thế võ công, ai có thể chiếm hữu nó, cũng bảo trì nhất định thời gian, đem có thể đạt được trong đó tuyệt học.
    <br/>
    Mỗi lần thần hộp xuất hiện đều sẽ ở trong chốn giang hồ khiến cho mưa mưa gió gió, có không có tiếng tăm gì tiểu tốt bởi vì đạt được trong đó tuyệt học mà nhất cử trở thành đại hiệp, có cao thủ thì tại này đó nhân tài mới xuất hiện trước mặt thất bại thảm hại.
    <br/>
    Giao tạp ân oán tình thù giang hồ đã là một mảnh hỗn độn, tại đây loạn thế bên trong, ngươi, sẽ trở thành cái gì?
    <br/>
    <a href="{{ url(request, 'User/Plot/step/5') }}">Tiếp tục</a>
{% endblock %}