{% extends "Base/parent.twig" %}

{% block body %}
    Trường An
    <br/>
    Ngươi hành tẩu ở Chu Tước trên đường cái.
    <br/>
        Ánh mặt trời ấm áp, chiếu hai bên kiến trúc.
    <br/>
    Đây là một cái thích ý sau giờ ngọ.
    <br/>
    Ngươi đi tới Trường An thành trung tâm quảng trường, chung quanh lui tới người rất nhiều, mỗi người tựa hồ đều ở mỉm cười, ngươi cảm thấy tâm tình cực hảo.
    <br/>
    Trường An đã thật lâu không có như vậy bình tĩnh.
    <br/>
    Ngươi tìm gian tửu lầu ngồi xuống, điểm hai lượng thịt bò, một bầu rượu, tự rót tự uống lên.
    <br/>
    Không ngoài sở liệu, đồng dạng thời gian, từ Thanh Long đường cái hướng quảng trường đi tới một người nữ tử áo đỏ...
    <br/>
    <a href="{{ url(request, 'User/Plot/step/6') }}">Tiếp tục</a>
{% endblock %}