{% extends "Base/parent.twig" %}

{% block body %}
    Nàng phong tình vạn chủng, nhu nhược động lòng người, thật sự là nhìn thấy mà thương.
    <br/>
    Lúc này nàng ở nhẹ nhàng khảy đai lưng.
    <br/>
    Trên quảng trường mọi người tức khắc đều dừng bước chân, ánh mắt bất giác đều hướng nàng nhìn lại, nàng nhìn xa ở đây mọi người, hơi hơi mỉm cười.
    <br/>
    Một đôi đôi mắt đẹp gian tình ý lưu động, nhìn quanh sinh tư.
    <br/>
    <a href="{{ url(request, 'User/Plot/step/7') }}">Tiếp tục</a>
{% endblock %}