{% extends "Base/parent.twig" %}

{% block body %}
    Một tháng, mỗi ngày sau giờ ngọ, nàng đều phải từ quảng trường trải qua, mà ngươi cũng ở chỗ này nhìn nàng một tháng.
    <br/>
    Nhưng là hôm nay, ngươi không chuẩn bị lại trầm mặc đi xuống.
    <br/>
    Ngươi đi xuống tửu lầu, nương một chút men say, hướng nàng đi đến.
    <br/>
    Càng đến gần ngươi tâm càng hoảng, mà nàng, cũng tựa hồ phát hiện ngươi hướng nàng đi tới, liền dừng lại bước chân, hướng ngươi xem ra.
    <br/>
    Ngươi tâm càng luống cuống, da đầu một trận tê dại, lúc này ngươi nhìn đến bên cạnh có cái bán hoa tiểu nữ hài, ngươi cuống quít móc ra mấy cái tiền đồng mua thúc hoa, cướp đường mà chạy.
    <br/>
    <a href="{{ url(request, 'User/Plot/step/8') }}">Tiếp tục</a>
{% endblock %}