{% extends "Base/parent.twig" %}

{% block body %}
    Chỉ nghe bán hoa tiểu nữ hài ở phía sau kêu lên: Công tử, ngươi lấy sai rồi, ngươi đem gậy gộc cầm đi!
    <br/>
    Ngươi vừa thấy trong tay, chính cầm một cây không ai muốn gậy gộc.
    <br/>
    Ngươi tức khắc hận không thể tìm cái khe đất chui vào đi.
    <br/>
    Nơi xa, nàng không cấm nhe răng cười. Thế nhưng hướng ngươi vẫy tay nói: “Vị công tử này, mời đi theo một tự.”
    <br/>
    Ngươi không khỏi ngây người, nơi xa nàng lúm đồng tiền như hoa, ngươi như ở trong mộng, lại lần nữa hướng nàng đi đến.
    <br/>
    Ngươi thề muốn khắc khổ học nghệ, sớm ngày cứu trở về tình nhân trong mộng.
    <br/>
    <a href="{{ url(request, 'User/Plot/step/9') }}">Tiếp tục</a>
{% endblock %}