{% extends "Base/parent.twig" %}

{% block body %}
    Nhưng vào lúc này, một con khoái mã từ quảng trường bay vọt qua đi, lập tức nam tử tia chớp mà bế lên nữ tử áo đỏ.
    <br/>
    Nữ tử áo đỏ một tiếng kêu sợ hãi, đám người một trận hỗn loạn.
    <br/>
    Ngươi nổi điên tựa mà bôn tiến lên, muốn ngăn trở, nam tử thuận tay một roi, ngươi tức khắc tượng một bó rơm rạ giống nhau bay đi ra ngoài, nặng nề mà ngã trên mặt đất.
    <br/>
    Nam tử trừu mã một roi, một trận gió tựa về phía tây mà đi. Chờ đến mọi người hiểu được, nam tử sớm đã biến mất không còn thấy bóng dáng tăm hơi.
    <br/>
    Ngươi nằm ở góc đường, đỏ thắm huyết từ thái dương, lỗ mũi nhỏ giọt.
    <br/>
    Bên cạnh mấy cái lưu manh khinh thường mà nói: “Thí đại điểm bản lĩnh đều không có, còn tưởng anh hùng cứu mỹ nhân? Sớm một chút lăn trở về gia ăn nãi đi thôi.”
    <br/>
    Ngươi nỗ lực đứng lên, lau một phen huyết, tập tễnh hướng tây đi đến, đi ra Bạch Hổ môn, chỉ thấy một cái đường núi, lẳng lặng mà duỗi hướng phương xa, nơi nào còn có nàng bóng dáng?
    <br/>
    <a href="{{ url(request, 'User/Plot/step/10') }}">Tiếp tục</a>
{% endblock %}