{% extends "Base/parent.twig" %}

{% block body %}
    Ngươi vứt bỏ {{ role_thing.body_name }}。
    <br/>
    <a href="{{ url(request, 'Role/Thing/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}