{% extends "Base/parent.twig" %}

{% block body %}
    Ngươi vứt bỏ 一{{ role_thing.row.unit }}{{ role_thing.row.name }}。
    <br/>
    <a href="{{ url(request, 'Role/Thing/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}