{% extends "Base/parent.twig" %}

{% block body %}
    {{ xinfa.row.name }}
    <br/>
    {{ xinfa.row.description }}
    <br/>
    <a href="{{ url(request, backUrl) }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}