{% extends "Base/parent.twig" %}

{% block body %}
    {% for role_xinfa in role_xinfas %}
        <a href="{{ url(request, role_xinfa.sellUrl) }}"> một quyển {{ role_xinfa.row.name }}</a>
        <br/>
    {% endfor %}
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}