{% extends "Base/parent.twig" %}

{% block body %}
    Ngươi phải cho 【{{ npc.name }}】 thư này không？
    <br/>
    <a href="{{ url(request, role_thing.give_url) }}">Xác định cho đi</a>
    <br/>
    <a href="{{ url(request, role_thing.back_url) }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}