{% extends "Base/parent.twig" %}

{% block body %}
    {% if message is not empty %}
        <span style="color: #ff0000;">{{ message }}</span>
        <br/>
    {% endif %}
    <form method="post" action="{{ url(request, 'User/Center/alterPassword') }}">
        Mật khẩu mới:
        <br/>
        <label>
            <input type="text" name="password">
        </label>
        <br/>
        Xác nhận mật khẩu mới:
        <br/>
        <label>
            <input type="text" name="password_confirm">
        </label>
        <br/>
        <input type="submit" value="Đổi mật khẩu">
    </form>
    * Mật khẩu dài 6-16 ký tự và có thể bao gồm chữ hoa, chữ thường và số.
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}