{% extends "Base/parent.twig" %}

{% block body %}
    {{ search_description }}
    <br/>
    {{ result_description }}
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}