{% extends "Base/parent.twig" %}

{% block body %}
    Vì làm đại gia có thể chơi càng thoải mái, chúng ta cũng đẩy ra tự thể lớn nhỏ thiết trí công năng, đại gia nhưng căn cứ tự thân yêu thích ở thiết trí nội tự do thiết trí. Trò chơi tuy hảo chơi đơn không cần thời gian dài nhìn chằm chằm vào màn hình nga, bảo hộ thị lực, mỗi cách một đoạn thời gian nhớ rõ nhìn xem thiên nhiên màu xanh lục, làm làm bài thể thao bảo vệ mắt.
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/6/1') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/index') }}">Trở lại trang đầu hướng dẫn</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}