{% extends "Base/parent.twig" %}

{% block body %}
    {{ message }}
    <br/>
    <a href="{{ url(request, 'Manage/Index/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trò chơi</a>
{% endblock %}