{% extends "Base/parent.twig" %}

{% block body %}
    Người chèo thuyền đối với ngươi nói: Được rồi! Khách quan mời ngồi hảo! Người chèo thuyền phất tay nhổ neo, thuyền liền khai đi rồi.......
    <br/>
    <a href="{{ url(request, start_url) }}">Tiếp tục</a>
{% endblock %}