{% extends "Base/parent.twig" %}

{% block body %}
    <a href="{{ url(request, 'Role/Relation/enemy') }}">Kẻ thù của tôi</a>
    <br/>
    <a href="{{ url(request, 'Role/Index/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}