{% extends "Base/parent.twig" %}

{% block body %}
    Sinh mệnh：280/280
    <br/>
    Sinh mệnh giá trị cũng chính là khỏe mạnh giá trị, bên trái số là trước mặt giá trị, bên phải số là cực đại, chiến đấu sẽ dẫn tới Sinh mệnh giá trị giảm xuống, đương Sinh mệnh giá trị rất thấp khi liền sẽ hôn mê, nếu lại đã chịu công kích, liền sẽ tử vong, biến thành quỷ hồn 2 phút sau sẽ sống lại, bất quá trên người đồ vật cũng liền rớt, cực phẩm trang bị ngoại trừ. Thông qua ngủ hòa phục dược có thể khôi phục Sinh mệnh trước mặt giá trị, trước mặt giá trị sẽ tùy thời gian khôi phục, Sinh mệnh cực đại sẽ y tuổi cùng tu hành thay đổi mà biến hóa. )
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/2/3') }}">Trở lại Trạng thái cơ thể</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/index') }}">Trở lại trang đầu</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}