{% extends "Base/parent.twig" %}

{% block body %}
    Tinh thần:280/280
    <br/>
    Tinh liền chính là đọc sách, học tập, chờ trí nhớ hoạt động sở tiêu hao năng lượng giá trị, bên trái số là trước mặt giá trị, bên phải số là cực đại, trong chiến đấu nếu tinh biến thành 0 liền sẽ té xỉu, thông qua ngủ hòa phục dược có thể khôi phục Tinh thần trước mặt giá trị, trước mặt giá trị sẽ tùy thời gian khôi phục, Tinh thần cực đại sẽ y tuổi cùng tu hành thay đổi mà biến hóa.
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/2/3') }}">Trở lại Trạng thái cơ thể</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/index') }}">Trở lại trang đầu</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}