{% extends "Base/parent.twig" %}

{% block body %}
    Nội lực:0/0
    <br/>
    Nội lực là nội công sở giao cho đặc thù năng lượng, có rất nhiều sử dụng. Bên trái số là trước mặt giá trị, bên phải số là cực đại, trong chiến đấu sử dụng đặc thù chiêu thức sẽ hạ thấp Nội lực trước mặt giá trị, nếu Nội lực không đủ đem không thể sử dụng đặc thù chiêu thức, cực đại có thể thông qua Trang Trước mặt trung Tu luyện Nội lực được đến đề cao.
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/2/3') }}">Trở lại Trạng thái cơ thể</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/index') }}">Trở lại trang đầu</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}