{% extends "Base/parent.twig" %}

{% block body %}
    Tiềm năng:80
    <br/>
    Nội lực là dùng để học tập võ công điểm số, hướng sư phó học tập kỹ năng yêu cầu tiêu hao Nội lực, thông qua chiến đấu hoặc hoàn thành riêng nhiệm vụ đạt được.
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/2/3') }}">Trở lại Trạng thái cơ thể</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/index') }}">Trở lại trang đầu</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}