{% extends "Base/parent.twig" %}

{% block body %}
    Tu hành:25 thiên
    <br/>
    Tu hành chính là ngươi võ học tu dưỡng, tu hành giá trị sẽ ảnh hưởng đến ngươi có thể học được tối cao võ công cấp bậc, cập Sinh mệnh cùng Tinh thần cực đại cùng với chiến đấu khi Lực công kích, Lực phòng ngự cùng tránh né lực.
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/2/3') }}">Trở lại Trạng thái cơ thể</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/index') }}">Trở lại trang đầu</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}