{% extends "Base/parent.twig" %}

{% block body %}
    Kỹ năng phối trí thực đơn cho phép ngươi đem đặc thù võ công cùng cơ bản võ công phối hợp, gia tăng tương ứng công hiệu, học nghệ thiên sẽ đối cái này thực đơn làm kỹ càng tỉ mỉ thuyết minh.
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/2/3') }}">Trở lại Trạng thái cơ thể</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/index') }}">Trở lại trang đầu</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}