{% extends "Base/parent.twig" %}

{% block body %}
    Ngươi đem {{ role_row.name }} thêm vào danh sách đen.
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}