{% extends "Base/parent.twig" %}

{% block body %}
    {{ message }}
    <br/>
    <a href="{{ url(request, 'Role/Mail/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}