{% extends "Base/parent.twig" %}

{% block body %}
    Ngươi ngồi xuống vận khí dụng công, một cổ nội tức bắt đầu ở trong cơ thể lưu động.
    <br/>
    Đương ngươi nội tức trải rộng toàn thân kinh mạch khi lại không có công lực tăng lên dấu hiệu, tựa hồ nội lực tu vi đã gặp bình cảnh!
    <br/>
    <a href="{{ url(request, 'Role/Status/mpPost/1') }}">Tiếp tục tu luyện</a>
    <br/>
    <a href="{{ url(request, 'Role/Status/mp') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}