{% extends "Base/parent.twig" %}

{% block body %}
    “Đánh cuộc lớn nhỏ” chơi pháp:
    <br/>
    Xài chung ba viên xúc xắc rơi tại một con trong chén, xúc xắc điểm số tổng hoà;
    <br/>
    3 - 13「Tiểu」；
    <br/>
    13 - 18「Đại」；
    <br/>
    Ba viên xúc xắc điểm số tương đồng, tắc lớn nhỏ thông ăn;
    <br/>
    Khai đại bồi đại, khai tiểu bồi tiểu, một bồi một;
    <br/>
    Bổn sòng bạc tạm thời chỉ tiếp thu hoàng kim vì tiền đặt cược;
    <br/>
    Tiền đánh bạc đem trực tiếp từ tiền trang trung khấu trừ, thỉnh trước tiên đem tiền đánh bạc tồn nhập tiền trang;
    <br/>
    Tiền đặt cược vì vừa đến hai trăm lượng hoàng kim.
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}