{% extends "Base/parent.twig" %}

{% block body %}
    Ngươi phát hiện quá trình chiến đấu trung ngươi Tu hành, Nội lực bay lên. Tuy rằng Luận bàn võ công giống nhau chỉ cần bất luận cái gì một phương khí huyết giảm bớt một nửa, Luận bàn liền sẽ tự động đình chỉ nhưng là đối với mới vừa học võ người, võ công căn cơ thiển, tự mình bảo hộ năng lực không cường, rất có thể nhất chiêu đã bị đánh chết, cho nên phải cẩn thận.
    <br/>
    Phía dưới giới thiệu như thế nào cùng người chơi cho nhau Luận bàn
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/5/11') }}">Tiếp tục</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/index') }}">Trở lại trang đầu</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}