{% extends "Base/parent.twig" %}

{% block body %}
    Hiện tại giới thiệu như thế nào cùng người chơi chiến đấu, thỉnh điểm đánh “Huyết Ma thế gia”
    <br/>
    Mộc nhân
    <br/>
    Mộc nhân
    <br/>
    Mộc nhân
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/5/13') }}">Bình thường bá tánh Huyết Ma thế gia</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/index') }}">Trở lại trang đầu</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}