{% extends "Base/parent.twig" %}

{% block body %}
    Thỉnh điểm đánh “Luận bàn” hoặc “Giết chóc”
    <br/>
    【 bình dân 】 Huyết Ma thế gia
    <br/>
    Nàng ngọc diện kiều dung hoa hàm lộ, tiêm đủ eo nhỏ liễu mang yên.
    <br/>
    Thoạt nhìn ước chừng mười mấy tuổi.
    <br/>
    Võ công thoạt nhìn giống như không chút nào đủ lự, ra tay tựa hồ thực nhẹ.
    <br/>
    Nàng thoạt nhìn khí huyết tràn đầy.
    <br/>
    Giao dịch
    <br/>
    Thêm bạn
    <br/>
    Đối thoại
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/5/14') }}">Luận bàn</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/5/15') }}">Giết chóc</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/index') }}">Trở lại trang đầu</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
    <br/>
    Trở lại trò chơi
{% endblock %}