{% extends "Base/parent.twig" %}

{% block body %}
   Cùng Người chơi Luận bàn, đương trong đó một phương huyết lượng thấp hơn 50% khi sẽ tự động kết thúc chiến đấu. Người chơi Luận bàn vì hoà bình chiến đấu giao lưu, sẽ không dẫn đến cái chết trừng phạt.
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/5/13') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/index') }}">Trở lại trang đầu</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}