{% extends "Base/parent.twig" %}

{% block body %}
    Giết chóc tắc cùng Luận bàn bất đồng, Giết chóc ngươi chết ta sống, thẳng đến một phương tử vong mới có thể kết thúc chiến đấu, người thắng ( thắng lợi số sẽ +1 ) mà chiến bại giả sẽ tử vong ( chiến bại số +1 ) cũng tiếp thu trừng phạt.
    <br/>
    Giang hồ chém giết tử vong trừng phạt là phi thường nghiêm trọng!
    <br/>
    Một, người chơi trên người mang theo tiền tài sẽ toàn bộ rơi xuống.
    <br/>
    Nhị, người chơi trên người mang theo bình thường vật phẩm cập bình thường trang bị sẽ toàn bộ rơi xuống.
    <br/>
    ...
    <br/>
    Bởi vậy mãnh liệt kiến nghị tay mới người chơi không cần tùy thân mang theo quá nhiều tiền tài cập quan trọng vật phẩm. Có thể lựa chọn đem tiền tài gửi đến tiền trang, đem vật phẩm trang bị cầm đồ ( tương đương với tồn nhập kho hàng ). Nhớ lấy!!!
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/5/13') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/index') }}">Trở lại trang đầu</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}