{% extends "Base/parent.twig" %}

{% block body %}
    Sau đó thỉnh điểm đánh “Luận bàn”
    <br/>
    【 bình dân 】 mộc nhân
    <br/>
    Một cái luyện công dùng luận võ mộc nhân, chế tác tinh xảo, giống như chân nhân giống nhau.
    <br/>
    Nó da thịt non mịn, mồm miệng lanh lợi.
    <br/>
    Thoạt nhìn không đến mười tuổi.
    <br/>
    Võ công thoạt nhìn giống như bất kham một kích, ra tay tựa hồ cực nhẹ.
    <br/>
    Nó thoạt nhìn khí huyết tràn đầy.
    <br/>
    Đối thoại
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/5/5') }}">Luận bàn</a>
    <br/>
    Giết chóc
    <br/>
    <a href="{{ url(request, 'Help/Primary/index') }}">Trở lại trang đầu</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}