{% extends "Base/parent.twig" %}

{% block body %}
    Hệ thống người chính là thực thông minh, Tu hành so với hắn thấp hoặc là cao rất nhiều, hắn đều sẽ không tiếp thu khiêu chiến
    <br/>
    “Thoạt nhìn mộc nhân không nghĩ tiếp thu ngươi khiêu chiến”
    <br/>
    Nếu ngươi Tu hành cùng hắn không sai biệt lắm hắn liền sẽ tiếp thu khiêu chiến
    <br/>
    “Mộc nhân tiếp nhận rồi ngươi khiêu chiến.”
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/5/6') }}">Tiến vào Chiến đấu hình ảnh</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/index') }}">Trở lại trang đầu</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}