{% extends "Base/parent.twig" %}

{% block body %}
    Lúc này ngươi liền cùng mộc nhân ngươi nhất chiêu ta nhất thức đánh lên tới, toàn bộ chiến đấu bình thường chiêu thức đều là hệ thống giúp ngươi hoàn thành, cho nên điểm này cùng hệ thống người là tuyệt đối công bằng, ngươi không cần lo lắng võng tốc vấn đề. Thỉnh điểm đánh “Xem xét tình hình chiến đấu”
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/5/7') }}">Xem xét tình hình chiến đấu</a> Đặc thù công kích đầu hàng chạy trốn
    <br/>
    Ngươi thoạt nhìn khí huyết tràn đầy.
    <br/>
    <a href="{{ url(request, 'Help/Primary/index') }}">Trở lại trang đầu</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}