{% extends "Base/parent.twig" %}

{% block body %}
    Tuy rằng bình thường chiêu thức là hệ thống tự động giúp ngươi hoàn thành, nhưng là đặc thù công kích là muốn người chơi chính mình căn cứ tình huống tới phán đoán, này liền thể hiện mỗi người nắm chắc chiến cơ năng lực
    <br/>
    Thỉnh điểm đánh “Đặc thù công kích”
    <br/>
    Xem xét tình hình chiến đấu <a href="{{ url(request, 'Help/Primary/description/5/8') }}">Đặc thù công kích</a> Đầu hàng chạy trốn
    <br/>
    Ngươi thoạt nhìn khí huyết tràn đầy.
    <br/>
    Ngươi cơ bắp căng chặt, thần sắc ngưng trọng, nhìn không chớp mắt mà nhìn chằm chằm mộc nhân, tìm kiếm chiến cơ.
    <br/>
    Ngươi một quyền hướng mộc nhân mông, mộc nhân ra quyền đón đỡ, chấn đến chính mình cánh tay tê dại.
    <br/>
    Ngươi Tu hành bay lên.
    <br/>
    Ngươi Nội lực bay lên.
    <br/>
    <a href="{{ url(request, 'Help/Primary/index') }}">Trở lại trang đầu</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}