{% extends "Base/parent.twig" %}

{% block body %}
    Bởi vì đặc thù chiêu thức uy lực so bình thường chiêu thức đại, cho nên tiêu hao tự nhiên đại, nếu ngươi Nội lực hoặc là Tinh thần vô dụng cũng không thể sử dụng tuyệt chiêu, nếu thành công hệ thống liền sẽ cấp ra phía dưới nhắc nhở
    <br/>
    Ngươi tay trái vung lên, nhất chiêu “Cúc lâu thải nguyệt” tay phải điểm hướng mộc nhân mặt, kết quả chỉ nghe “Phanh” mà một tiếng, mộc nhân lui hai bước!
    <br/>
    Mộc nhân đã mệnh ở sớm tối tựa hồ một trận gió cũng có thể muốn nó mệnh.
    <br/>
    Ngươi Tu hành bay lên.
    <br/>
    Ngươi Nội lực bay lên.
    <br/>
    Ngươi giết chết mộc nhân, được đến bảy ngày chín canh giờ Tu hành, nhị điểm Nội lực.
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/5/10') }}">Chiến đấu kết thúc</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/index') }}">Trở lại trang đầu</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}