{% extends "Base/parent.twig" %}

{% block body %}
    Ngươi đạt được một trăm văn đồng tiền
    <br/>
    Hoan nghênh tiến vào cái này chân thật hỗ động giang hồ, ở chỗ này, ngươi có thể cùng chân nhân luận võ, có thể cùng chân nhân giao hữu, tục ngữ nói người có tên cây có bóng, kiến nghị ngươi tiên tiến nhập Tân Thủ Thôn lấy cái tên, sau đó sinh hoạt một đoạn thời gian quen thuộc sau lại bước vào giang hồ.
    <br/>
    <a href="{{ url(request, 'Help/Primary/index') }}">Nhập hướng dẫn</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/delivery/8') }}">Tiến vào Tân Thủ Thôn</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/delivery/8') }}">Trực tiếp tiến vào giang hồ</a>
{% endblock %}