{% extends "Base/parent.twig" %}

{% block body %}
    Đại thụ
    <br/>
    Một cây đại thụ, cư nhiên sinh trưởng ở nửa nhai thượng, một người vây quanh thô.
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}