{% extends "Base/parent.twig" %}

{% block body %}
    Trời xanh cổ thụ
    <br/>
    Một cây trời xanh cổ thụ, xanh um tươi tốt, sinh cơ dạt dào, cư nhiên sinh trưởng ở đỉnh núi thượng.
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}