{% extends "Base/parent.twig" %}

{% block body %}
    Cây nhỏ
    <br/>
    Một cây cây nhỏ, cư nhiên sinh trưởng ở huyền nhai tiểu ngôi cao thượng, to bằng miệng chén.
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}