{% extends "Base/parent.twig" %}

{% block body %}
    Sử dụng võ công ảnh hưởng ngươi tránh né lực, kỹ năng này cấp bậc càng cao ngươi né tránh địch nhân tiến công cùng chạy trốn cơ hội càng lớn
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/4/14') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/index') }}">Trở lại trang đầu</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}