{% extends "Base/parent.twig" %}

{% block body %}
    Cơ bản nội công hạn chế ngươi lớn nhất Nội lực
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/4/14') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/index') }}">Trở lại trang đầu</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}