{% extends "Base/parent.twig" %}

{% block body %}
    Hủy đi chiêu giảm bớt lực ảnh hưởng ngươi chống đỡ lực, kỹ năng này cấp bậc càng cao ngươi chống đỡ trụ địch nhân tiến công cơ hội càng lớn
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/4/14') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/index') }}">Trở lại trang đầu</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}