{% extends "Base/parent.twig" %}

{% block body %}
    Cơ bản kiếm pháp ảnh hưởng ngươi Lực công kích, phản ánh chính là ngươi dùng kiếm làm vũ khí khi kỹ xảo trình độ cùng thuần thục trình độ
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/4/14') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/index') }}">Trở lại trang đầu</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}