{% extends "Base/parent.twig" %}

{% block body %}
    Trong trò chơi ba cái môn phái sơ cấp sư phó ở Trường An khách điếm, thỉnh điểm đánh đối ứng sư phó lựa chọn Bái sư
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/4/3') }}">Ngũ Nhạc kiếm phái Liễu như yên</a>
    <br/>
    Thiếu Lâm Thanh pháp sư
    <br/>
    Ma giáo Vô danh khất cái
    <br/>
    <a href="{{ url(request, 'Help/Primary/index') }}">Trở lại trang đầu</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}