{% extends "Base/parent.twig" %}

{% block body %}
    Đặc thù võ công còn lại là các bất đồng môn phái võ công, chủ yếu phản ánh chiêu thức, tỷ như đặc thù kiếm pháp quang có Cơ bản võ công mà không có Đặc thù võ công chúng ta vẫn cứ có thể chọn dùng cùng loại với hài đồng dường như hồ quấy rầy đá, nhưng là như vậy tác chiến công kích hiệu suất sẽ hạ thấp, mà học chiêu thức sau tắc có thể lợi dụng xảo diệu chiêu thức tới đại đại đề cao Lực công kích.
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/4/12') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/index') }}">Trở lại trang đầu</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}