{% extends "Base/parent.twig" %}

{% block body %}
    Thảo luận một người nào đó võ công cấp bậc là chủ yếu căn cứ vào này Đặc thù võ công trình độ, nhưng là vô dụng đao cơ sở lại đi học đặc thù đao pháp là không thể, chẳng lẽ dùng giàn hoa đi đánh nhau không? Cho nên Cơ bản võ công cũng ở Hữu hiệu cấp bậc trung khởi phụ trợ tác dụng, bởi vậy võ công hữu hiệu cấp định nghĩa liền trở thành ( Cơ bản võ công cấp bậc ／２＋Đặc thù võ công cấp bậc ).
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/4/12') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/index') }}">Trở lại trang đầu</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}