{% extends "Base/parent.twig" %}

{% block body %}
    Học xong võ công còn phải học được như thế nào sử dụng, Đặc thù võ công yêu cầu phối hợp Cơ bản võ công, hơn nữa trang bị đối ứng binh khí mới có thể chân chính phát huy uy lực
<br/>
Tay không thời điểm tự nhiên dùng chính là Cơ bản quyền cước cùng với phối hợp Đặc thù võ công, thí dụ như đại kim cương quyền từ từ
<br/>
Cầm đao thời điểm tự nhiên dùng chính là Cơ bản đao pháp cùng với phối hợp Đặc thù võ công, thí dụ như xuân phong khoái ý đao chờ
<br/>
Lấy kiếm thời điểm tự nhiên dùng chính là cơ bản kiếm phát cùng với phối hợp Đặc thù võ công, thí dụ như hồi phong phất liễu kiếm chờ
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/4/12') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/index') }}">Trở lại trang đầu</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}