{% extends "Base/parent.twig" %}

{% block body %}
    Ngũ Nhạc kiếm phái sư phó đều là mỹ nữ, cho nên võ công chiêu thức cũng là thực mỹ
    <br/>
    Ngũ Nhạc sư phó ấn cấp bậc phân như sau
    <br/>
    1, vong tình người ái luân
    <br/>
    2, hồi âm tiên tử lam ngăn bình
    <br/>
    3, mỹ san
    <br/>
    4, Liễu như yên, phương lăng, kim nghi đồng, lam tiểu điệp, lam vũ mai, khúc phức kỳ, tập người
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/4/23') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/index') }}">Trở lại trang đầu</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}