{% extends "Base/parent.twig" %}

{% block body %}
    Thiếu Lâm là trong chốn võ lâm thái sơn bắc đẩu, võ công bác đại tinh thâm
    <br/>
    Thiếu Lâm sư phó ấn cấp bậc phân như sau
    <br/>
    1, trừng tri - trừng quan
    <br/>
    2, tuệ khiết, tuệ như tôn giả
    <br/>
    3, nói thành, nói quả thiền sư
    <br/>
    4, thanh hiểu, Thanh pháp sư
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/4/23') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/index') }}">Trở lại trang đầu</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}