{% extends "Base/parent.twig" %}

{% block body %}
    Tên thật càn ý thần giáo, sở thiện võ công nhiều nham hiểm ác độc, cố chính giáo người trong biếm chi vì Ma giáo
    <br/>
    Ma giáo sư phó ấn cấp bậc phân như sau
    <br/>
    1, đường chủ Đồng Bách Hùng, la liệt
    <br/>
    2, bạch y, hồng y, áo vàng, áo lam hộ pháp
    <br/>
    3, thanh y, áo lục, cam y, hắc y hộ giáo
    <br/>
    4, Vô danh khất cái, chưởng người tiên phong
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/4/23') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/index') }}">Trở lại trang đầu</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}