{% extends "Base/parent.twig" %}

{% block body %}
    Hiện tại liền có thể hướng sư phó học tập kỹ năng, thỉnh điểm đánh “Học nghệ”
    <br/>
    【 kiếm hiệp 】Liễu như yên
    <br/>
    Một cái xinh đẹp tiểu mỹ mi, gia nhập Ngũ Nhạc kiếm phái có thể tìm nàng.
    <br/>
    Nàng tóc dài như mây, da thịt thắng tuyết, không biết khuynh đảo nhiều ít anh hùng hào kiệt.
    <br/>
    Thoạt nhìn ước chừng hơn hai mươi tuổi.
    <br/>
    Võ công thoạt nhìn giống như nửa sống nửa chín, ra tay tựa hồ không nhẹ.
    <br/>
    Nàng thoạt nhìn khí huyết tràn đầy.
    <br/>
    Trên người nàng có chứa:
    <br/>
    □ mưa bụi kiếm
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/4/6') }}">Học nghệ</a>
    <br/>
    Phản bội sư
    <br/>
    Đối thoại
    <br/>
    Luận bàn
    <br/>
    Giết chóc
    <br/>
    <a href="{{ url(request, 'Help/Primary/index') }}">Trở lại trang đầu</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}