{% extends "Base/parent.twig" %}

{% block body %}
    Hiện tại thỉnh điểm đánh nhất phía dưới “Ta kỹ năng” tới xem xét ngươi sở học sẽ võ công, cái này cũng có thể điểm đánh chính mình trạng thái lựa chọn trung Trạng thái cơ thể thực đơn, sau đó tiến vào Kỹ năng phối trí hạng xem xét chính mình kỹ năng
    <br/>
    Cơ bản kiếm pháp(40 cấp /0%)
    <br/>
    Hồi phong phất liễu kiếm (40 cấp /0%)
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/4/9') }}">Ta kỹ năng</a>
    <br/>
    <a href="{{ url(request, 'Help/Primary/index') }}">Trở lại trang đầu</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}