{% extends "Base/parent.twig" %}

{% block body %}
    Võ công hữu hiệu cấp bậc vì ( Cơ bản võ công cấp bậc ／２＋Đặc thù võ công cấp bậc ) cho nên chỉ có đem Đặc thù võ công phối hợp đối ứng Cơ bản võ công, ngươi võ công uy lực mới có thể đại đại tăng cường
    <br/>
    Phía dưới chính là ngươi sở học kỹ năng sau đó giáo ngươi như thế nào đem hạng nhất Đặc thù võ công phối hợp Cơ bản võ công, thỉnh điểm đánh “Cơ bản kiếm pháp”
    <br/>
    <a href="{{ url(request, 'Help/Primary/description/4/10') }}">Cơ bản kiếm pháp(2级/0%)</a>
    <br/>
    Hồi phong phất liễu kiếm (2 cấp /0%)
    <br/>
    Mỗi cái kỹ năng bên trái trị số là nên hạng kỹ năng cấp bậc, bên phải trị số tỏ vẻ kỹ năng này trước mặt cấp bậc thuần thục độ, đương thuần thục độ đến mãn một trăm, kỹ năng liền sẽ tự động thăng cấp, mỗi lần học tập hoặc là đọc sách đều là gia tăng bên phải thuần thục độ.
    <br/>
    <a href="{{ url(request, 'Help/Primary/index') }}">Trở lại trang đầu</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}