{% extends "Base/parent.twig" %}

{% block body %}
    <b>Một, phụ thân tiết hoạt động：</b>
    <br/>
    <b>1</b>. 6 nguyệt 19 ngày ( một ngày ) toàn khu đánh quái tu vi tiềm năng phiên bội, sử dụng gấp đôi tu tiềm đan hiệu quả chồng lên;
    <br/>
    <b>2</b>. Phụ thân tiết ( 6.19 ) cùng ngày bưu kiện phát ngày hội lễ bao（<span style="color: red">Tâm pháp chìa khóa x 20</span>）；
    <br/>

    <b>Nhị, 618 tài trợ hoạt động: ( như cần tài trợ, thỉnh liên hệ đàn chủ lạp lạp lạp )</b>
    <br/>
    <b>1</b>. Tài trợ 100Kim Nguyên Bảo：<span style="color: red">1 Vạn KNB+ 30 Tâm pháp chìa khóa</span>；
    <br/>
    <b>2</b>. Tài trợ 300Kim Nguyên Bảo：<span style="color: red">3 Vạn KNB+ 50 Tâm pháp chìa khóa</span>；
    <br/>
    <b>3</b>. Tài trợ 500Kim Nguyên Bảo：<span style="color: red">3 Vạn KNB+ 50 Tâm pháp chìa khóa</span>；
    <br/>
    <b>4</b>. Tài trợ 1000Kim Nguyên Bảo：<span style="color: red">5 Vạn KNB + 216 Tâm pháp x1 + 100 Tâm pháp chìa khóa</span>；
    <br/>
    <b>5</b>. Tài trợ 2000Kim Nguyên Bảo：<span style="color: red">5 Vạn KNB + 512 Công tâm x1 + 100 Tâm pháp chìa khóa</span>；
    <br/>
    <b>6</b>. Tài trợ 3500Kim Nguyên Bảo：<span style="color: red">5 Vạn KNB + 512 Nội tâm x1 + 150 Tâm pháp chìa khóa</span>；
    <br/>
    <b>7</b>. Tài trợ 5000Kim Nguyên Bảo：<span style="color: red">5 Vạn KNB + 512 Mệnh tâm x1 + Ngàn năm nhân sâm x 1 + 150 Tâm pháp chìa khóa</span>；
    <br/>

    Trở lên chia làm bảy cái cấp bậc, đạt tới Tài trợ cấp bậc có thể đạt được nên cấp bậc cập phía trước toàn bộ lễ bao, tỷ như Tài trợ 1000 nguyên người chơi, trừ bỏ đạt được 1000 đương, còn có thể đạt được 500, 300 cùng 100 đương lễ bao.

{#    <b>Một, Tết Đoan Ngọ hoạt động：</b>#}
{#    <br/>#}
{#    <b>1</b>. 6 nguyệt 3 ngày, 4 ngày ( hai ngày ) toàn khu đánh quái tu vi tiềm năng phiên bội, sử dụng gấp đôi tu tiềm đan hiệu quả chồng lên；#}
{#    <br/>#}
{#    <b>2</b>. Tết Đoan Ngọ ( 6 nguyệt 3 ngày ) cùng ngày bưu kiện phát ngày hội lễ bao ( ở trong chứa<span style="color: red">Gấp đôi tu tiềm đan x20</span>）；#}
{#    <br/>#}
{#    <b>Nhị, Đoan Ngọ Tài trợ hoạt động: ( như cần Tài trợ, thỉnh liên hệ đàn chủ lạp lạp lạp )</b>#}
{#    <br/>#}
{#    <b>1</b>. Tài trợ 100Kim Nguyên Bảo：<span style="color: red">Một vạn 5000 nguyên bảo</span>；#}
{#    <br/>#}
{#    <b>2</b>. Tài trợ 300Kim Nguyên Bảo：<span style="color: red">Sáu vạn nguyên bảo</span>；#}
{#    <br/>#}
{#    <b>3</b>. Tài trợ 500Kim Nguyên Bảo：<span style="color: red">Tam vạn nguyên bảo + Bạch mãng ủng + Gấp ba tu tiềm đan x10</span>；#}
{#    <br/>#}
{#    <b>4</b>. Tài trợ 1000Kim Nguyên Bảo：<span style="color: red">Tam vạn nguyên bảo + Chân nguyên áo choàng + Gấp ba tu tiềm đan x20 + 216 Tâm pháp x1</span>；#}
{#    <br/>#}
{#    <b>5</b>. Tài trợ 2000Kim Nguyên Bảo：<span style="color: red">Năm vạn nguyên bảo + Tắm máu áo giáp + Gấp ba tu tiềm đan x30 + 512攻心x1</span>；#}
{#    <br/>#}
{#    <b>6</b>. Tài trợ 3500Kim Nguyên Bảo：<span style="color: red">Năm vạn nguyên bảo + Đỉnh cấp không xong vũ khí + Gấp ba tu tiềm đan x40 + 512 Nội tâm x1</span>；#}
{#    <br/>#}
{#    <b>7</b>. Tài trợ 5000Kim Nguyên Bảo：<span style="color: red">Năm vạn nguyên bảo + Ngàn năm nhân sâm x 1 + Gấp ba tu tiềm đanx50 + 512 Mệnh tâm x1</span>；#}
{#    <br/>#}
{#    <b>8</b>. Tài trợ 6000Kim Nguyên Bảo：<span style="color: red">Năm vạn nguyên bảo + Ngàn năm nhân sâm x 1 + Gấp ba tu tiềm đanx60</span>；#}
{#    <br/>#}
{#    Trở lên chia làm bảy cái cấp bậc, đạt tới Tài trợ cấp bậc có thể đạt được nên cấp bậc cập phía trước toàn bộ lễ bao, tỷ như Tài trợ 1000 nguyên người chơi, trừ bỏ đạt được 1000 đương, còn có thể đạt được 500, 300 cùng 100 đương lễ bao。#}
    <br/>
    <a href="{{ url(request, 'Role/Index/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}