{% extends "Base/parent.twig" %}

{% block body %}
    Ngươi hủy bỏ khang mẫn nhiệm vụ.
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}