{% extends "Base/parent.twig" %}

{% block body %}
    {{ message }}
    <br/>
    <a href="{{ url(request, 'Role/Xinfa/index') }}">Tâm Pháp</a>
    <br/>
    <a href="{{ url(request, 'Map/Thing/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}