{% extends "Base/parent.twig" %}

{% block body %}
    {{ body.name }}
    <br/>
    <a href="{{ url(request, pickUpUrl) }}">Nhặt lên</a>
    <br/>
    <a href="{{ url(request, 'Map/Thing/index') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}