{% extends "Base/parent.twig" %}

{% block body %}
    [ về võ công bí tịch ]
<br/>
Đao pháp tinh muốn có thể đi Tân Thủ thôn suy nghĩ phòng đi tìm tòi.
<br/>
Đao pháp tinh muốn ngoại thiên có thể đi Ma giáo hộ giáo trên người tìm tòi ( yêu cầu đánh vựng sau mới có thể tìm tòi ).
<br/>
Đao pháp bí muốn có thể đi Trường An Yên Vũ Lâu kỳ trân trai đi mua sắm.
<br/>
Hồ gia đao phổ muốn có thể đi Trường An Yên Vũ Lâu kỳ trân trai đi mua sắm.
<br/>
Ti la khăn có thể đi Tân Thủ thôn suy nghĩ phòng đi tìm tòi.
<br/>
Đạp tuyết vô ngân có thể đi Ngũ Nhạc phương lăng trên người tìm tòi ( yêu cầu đánh vựng sau mới có thể tìm tòi ).
<br/>
Da dê quyển trục có thể đi Trường An Yên Vũ Lâu kỳ trân trai đi mua sắm.
<br/>
Ngọc bội có thể đi Tân Thủ thôn suy nghĩ phòng đi tìm tòi.
<br/>
Đá phiến có thể đi Hoa Sơn có việc không nên làm hiên đi tìm tòi.
<br/>
Mỏng lụa có thể đi Thiếu Lâm thanh hiểu sư trên người tìm tòi ( yêu cầu đánh vựng sau mới có thể tìm tòi ).
<br/>
Dịch Cân kinh muốn có thể đi Thiếu Lâm trừng kiên trên người tìm tòi ( yêu cầu đánh vựng sau mới có thể tìm tòi ).
<br/>
Chống đỡ ý chính có thể đi Tân Thủ thôn suy nghĩ phòng đi tìm tòi.
<br/>
Hủy đi chiêu chi thuật có thể đi Ngũ Nhạc kim nghi đồng trên người tìm tòi ( yêu cầu đánh vựng sau mới có thể tìm tòi ).
<br/>
Thiết thủ chưởng có thể đi Trường An Yên Vũ Lâu kỳ trân trai đi mua sắm.
<br/>
Kiếm pháp chỉ nam có thể đi Tân Thủ thôn suy nghĩ phòng đi tìm tòi.
<br/>
Cao cấp kiếm thuật có thể đi Thiếu Lâm nói thành thiền sư trên người tìm tòi ( yêu cầu đánh vựng sau mới có thể tìm tòi ).
<br/>
Da dê thư có thể đi Trường An Yên Vũ Lâu kỳ trân trai đi mua sắm.
<br/>
Vô danh kiếm phổ có thể đi Trường An Yên Vũ Lâu kỳ trân trai đi mua sắm.
<br/>
Quyền cước nhập môn có thể đi Tân Thủ thôn suy nghĩ phòng đi tìm tòi.
<br/>
Quyền cước tường giải có thể đi Ma giáo hộ giáo trên người tìm tòi ( yêu cầu đánh vựng sau mới có thể tìm tòi ).
<br/>
Quyền phổ tổng quyết có thể đi Trường An Yên Vũ Lâu kỳ trân trai đi mua sắm.
<br/>
Võ Mục Di Thư có thể đi Trường An Yên Vũ Lâu kỳ trân trai đi mua sắm.
<br/>
Hàng Long Thập Bát Chưởng bí kíp có thể đi Côn Luân sơn nhảy vực, có nhất định cơ hội được đến.
<br/>
Cửu Âm Bạch Cốt Trảo bí kíp có thể đi Đào Hoa Đảo tìm tòi bí mật, có nhất định cơ hội được đến.
<br/>
Thẻ tre có thể đi cao xương trên vú tìm tòi bí mật được đến.
<br/>
Huyết cờ y có thể đi mai trang tìm tòi bí mật được đến.
<br/>
Đàn tinh lộng lẫy đồ có thể đi mai trang tìm tòi bí mật được đến.
<br/>
Hoàng thạch phổ có thể đi mai trang tìm tòi bí mật được đến.
<br/>
Hà Đồ có thể đi Đào Hoa Đảo tìm tòi bí mật được đến.
<br/>
Lạc Thư có thể đi Đào Hoa Đảo tìm tòi bí mật được đến.
<br/>
    <a href="{{ url(request, 'Help/Index/index') }}">Trở lại thượng cấp</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}