{% extends "Base/parent.twig" %}

{% block body %}
    Trước mặt vũ khí đối ứng võ công kỹ năng cấp bậc miêu tả:
<br/>
Bất kham một kích: 0 - 10
<br/>
Không chút nào đủ lự: 11 - 19
<br/>
Không đáng nhắc đến: 20 - 39
<br/>
Phổ phổ thông thông: 40 - 49
<br/>
Qua loa đại khái: 50 - 59
<br/>
Sơ khuy con đường: 70 - 89
<br/>
Bình đạm không có gì lạ: 99 - 119
<br/>
Nửa sống nửa chín: 120 - 149
<br/>
Lược có chút thành tựu: 150 - 199
<br/>
Đã có chút thành tựu: 200 - 249
<br/>
Cưỡi xe nhẹ đi đường quen: 250 - 299
<br/>
Hiểu rõ với ngực: 300 - 329
<br/>
Lô hỏa thuần thanh: 330 - 369
<br/>
Lược có đại thành: 370 - 399
<br/>
Vô cùng thần kỳ: 400 - 429
<br/>
Đã có đại thành: 430 - 459
<br/>
Một thế hệ tông sư: 460 - 489
<br/>
Vang dội cổ kim: 490 - 519
<br/>
Kinh thế hãi tục: 520 - 549
<br/>
Ngạo thị quần hùng: 550 - 579
<br/>
Xuất thần nhập hóa: 580 - 609
<br/>
Tiếu ngạo giang hồ: 610 - 639
<br/>
Cử thế vô song: 640 - 669
<br/>
Không tiền khoáng hậu: 670 - 699
<br/>
Phi hoa trích diệp: 700 - 729
<br/>
Thần công nội chứa: 730 - 769
<br/>
Thâm tàng bất lộ: 770 - 809
<br/>
Sâu không lường được: 810 - 859
<br/>
Trở lại nguyên trạng: 860 - 899
<br/>
Thiên nhân hợp nhất: 900 - 949
<br/>
Siêu phàm nhập thánh: 950 -
<br/>
    <a href="{{ url(request, 'Help/Index/index') }}">Trở lại thượng cấp</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}