{% extends "Base/parent.twig" %}

{% block body %}
    [ về cơ sở võ công ]
<br/>
1, Cơ bản đao pháp tu luyện có thể đi đọc đao pháp tinh muốn, đao pháp tinh muốn ngoại thiên, đao pháp bí muốn, Hồ gia đao phổ. Có thể từ 0 cấp tu luyện đến 120 cấp.
<br/>
2, Sử dụng võ công tu luyện có thể đi đọc ti la khăn, đạp tuyết vô ngân, da dê quyển trục. Có thể từ 0 cấp tu luyện đến 90 cấp.
<br/>
3, Cơ bản nội công tu luyện có thể đi đọc ngọc bội, đá phiến, mỏng lụa, Dịch Cân kinh. Có thể từ 0 cấp tu luyện đến 120 cấp.
<br/>
4, Cơ bản chống đỡ tu luyện có thể đi đọc chống đỡ ý chính, hủy đi chiêu chi thuật, thiết thủ chưởng. Có thể từ 0 cấp tu luyện đến 90 cấp.
<br/>
5, Cơ bản kiếm pháp tu luyện có thể đi đọc kiếm pháp chỉ nam, cao cấp kiếm thuật, da dê thư, vô danh kiếm phổ. Có thể từ 0 cấp tu luyện đến 120 cấp.
<br/>
6, Cơ bản quyền cước tu luyện có thể đi đọc quyền cước nhập môn, quyền cước tường giải, quyền phổ tổng quyết, Võ Mục Di Thư. Có thể từ 0 cấp tu luyện đến 120 cấp.
<br/>
7, Hoa Sơn Tư Quá Nhai đi diện bích có thể tu luyện đao pháp hoặc là kiếm pháp, có thể từ 60 cấp tu luyện đến 150 cấp.
<br/>
8, Thanh Thành bò huyền nhai cùng phách thụ có thể tu luyện khinh công cùng quyền cước, có thể từ 60 cấp tu luyện đến 150 cấp.
<br/>
9, Thiếu Lâm tu luyện hành lang dài có thể tu luyện chống đỡ, có thể từ 60 cấp tu luyện đến 150 cấp.
<br/>
10, cổ mộ hàn giường ngọc có thể tu luyện nội công, có thể từ 120 cấp tu luyện đến 150 cấp.
    <br/>
    <a href="{{ url(request, 'Help/Index/index') }}">Trở lại thượng cấp</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
    <br/>
    <a href="{{ url(request, 'User/Center/index') }}">Trở lại trang đầu</a>
{% endblock %}