{% extends "Base/parent.twig" %}

{% block body %}
    Tài trợ tỉ lệ: ￥1 nguyên =100 nguyên bảo
    <br/>
    Tài trợ phương thức: QQ đàn liên hệ đàn chủ
    <br/>
    【 lễ bao 1 】
    <br/>
    <span style="color: red;">Đầu sung lễ bao: Nguyên bảo x4990</span>
    <br/>
    ( đưa tặng nguyên bảo x990, tơ vàng gỗ nam x2, gấp đôi tu hành đan x5, gấp đôi tiềm năng đan x5 )
    <br/>
    <br/>
    【 lễ bao 2 】
    <br/>
    <span style="color: red;">Tâm pháp lễ bao một: Chỉ định 216 nội công tâm pháp một quyển</span>
    <br/>
    ( đưa tặng cơ sở cấp bậc 80 cấp, gấp đôi tu hành đan x25, gấp đôi tiềm năng đan x25, gấp đôi tâm pháp đan x50, trung cấp không xong trang x1, hoàng kim x3000 )
    <br/>
    <br/>
    <span style="color: red;">Tâm pháp lễ bao nhị: Chỉ định 216 sinh mệnh tâm pháp một quyển</span>
    <br/>
    ( đưa tặng gấp đôi tu hành đan x25, gấp đôi tiềm năng đan x25, gấp đôi tâm pháp đan x50, trung cấp không xong trang x1, hoàng kim x2000 )
    <br/>
    <br/>
    <span style="color: red;">Tâm pháp lễ bao tam: Chỉ định 216 công kích tâm pháp một quyển</span>
    <br/>
    ( đưa tặng cơ sở cấp bậc 80 cấp, gấp đôi tu hành đan x25, gấp đôi tiềm năng đan x25, gấp đôi tâm pháp đan x50, trung cấp không xong trang x1, hoàng kim x2000 )
    <br/>
    <br/>
    <span style="color: red;">Tâm pháp lễ bao đại: Chỉ định 216 tâm pháp tam bổn</span>
    <br/>
    ( đưa tặng cơ sở cấp bậc 80 cấp, gấp đôi tu hành đan x80, gấp đôi tiềm năng đan x80, gấp đôi tâm pháp đan x160, trung cấp không xong trang x3, hoàng kim x8000 )
    <br/>
    <br/>
    <span style="color: red;">Tâm pháp lễ bao bốn: Chỉ định 64 tâm pháp một quyển</span>
    <br/>
    ( đưa tặng gấp đôi tu hành đan x10, gấp đôi tiềm năng đan x10, gấp đôi tâm pháp đan x30, hoàng kim x500 )
    <br/>
    <br/>
    <span style="color: red;">Tâm pháp lễ bao năm: Chỉ định 64 tâm pháp nhị bổn</span>
    <br/>
    ( đưa tặng gấp đôi tu hành đan x30, gấp đôi tiềm năng đan x30, gấp đôi tâm pháp đan x40, hoàng kim x1000 )
    <br/>
    <br/>
    <span style="color: red;">Tâm pháp lễ bao sáu: Chỉ định 64 tâm pháp tam bổn</span>
    <br/>
    ( đưa tặng gấp đôi tu hành đan x50, gấp đôi tiềm năng đan x50, gấp đôi tâm pháp đan x80, hoàng kim x1500 )
    <br/>
    <br/>
    <span style="color: red;">Tâm pháp lễ bao bảy: Chỉ định 128 nội công tâm pháp một quyển</span>
    <br/>
    ( đưa tặng gấp đôi tu hành đan x25, gấp đôi tiềm năng đan x25, gấp đôi tâm pháp đan x50, hoàng kim x1200 )
    <br/>
    <br/>
    <span style="color: red;">Tâm pháp lễ bao tám: Chỉ định 128 nội công tâm pháp nhị bổn</span>
    <br/>
    ( đưa tặng gấp đôi tu hành đan x50, gấp đôi tiềm năng đan x50, gấp đôi tâm pháp đan x100, hoàng kim x2500 )
    <br/>
    <br/>
    <span style="color: red;">512 tâm pháp lễ bao một: Chỉ định 512 công kích tâm pháp một quyển</span>
    <br/>
    ( đưa tặng cơ sở cấp bậc 80 cấp, gấp đôi tu hành đan x200, gấp đôi tiềm năng đan x200, gấp ba tâm pháp đan x150, chỉ định không xong vũ khí x1, chỉ định không xong giày x1, chỉ định không xong quần áo x1, chỉ định không xong áo giáp x1, tơ vàng gỗ nam x30, ngàn năm nhân sâm x1, hoàng kim x10000 )
    <br/>
    <br/>
    <span style="color: red;">512 tâm pháp lễ bao nhị: Chỉ định 512 sinh mệnh tâm pháp một quyển</span>
    <br/>
    ( đưa tặng cơ sở cấp bậc 80 cấp, gấp đôi tu hành đan x200, gấp đôi tiềm năng đan x200, gấp ba tâm pháp đan x150, chỉ định không xong vũ khí x1, chỉ định không xong giày x1, chỉ định không xong quần áo x1, chỉ định không xong áo giáp x1, tơ vàng gỗ nam x40, ngàn năm nhân sâm x1, hoàng kim x10000 )
    <br/>
    <br/>
    <span style="color: red;">512 tâm pháp lễ bao tam: Chỉ định 512 nội công tâm pháp một quyển</span>
    <br/>
    ( đưa tặng cơ sở cấp bậc 80 cấp, gấp đôi tu hành đan x200, gấp đôi tiềm năng đan x200, gấp ba tâm pháp đan x150, chỉ định không xong vũ khí x1, chỉ định không xong giày x1, chỉ định không xong quần áo x1, chỉ định không xong áo giáp x1, tơ vàng gỗ nam x50, ngàn năm nhân sâm x1, hoàng kim x10000 )
    <br/>
    <br/>
    WeChat:
    <br/>
    <img width="66%" src="https://lf9-survey.bytetos.com/obj/web.business.image/202201195d0d68a9eb3639eb4c09b035"/>
    <br/>
    <br/>
    Alipay:
    <br/>
    <img width="66%" src="https://lf9-survey.bytetos.com/obj/web.business.image/202201195d0de1f0181f2cd943809345"/>
    <br/>
    <br/>
    <a href="{{ url(request, 'Role/Shop/dj') }}">Trở lại</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}