{% extends "Base/parent.twig" %}

{% block body %}
    Ngươi hít sâu một hơi, thả người nhảy lên, mấy cái lên xuống gian, đã thoán thượng nửa nhai.
    <br/>
    <a href="{{ url(request, 'Map/Index/delivery/750') }}">Nhìn quanh bốn phía</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Phản hồi trò chơi</a>
{% endblock %}