{% extends "Base/parent.twig" %}

{% block body %}
    你深吸一口气，纵身跃起，几个起落间，已窜上了半崖。
    <br/>
    <a href="{{ url(request, 'Map/Index/delivery/750') }}">环顾四周</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}