{% extends "Base/parent.twig" %}

{% block body %}
    Ngươi ra bên ngoài thả người nhảy, biến mất ở mây mù trung.
    <br/>
    <a href="{{ url(request, 'Map/Index/delivery/161') }}">Nhìn quanh bốn phía</a>
{% endblock %}