{% extends "Base/parent.twig" %}

{% block body %}
    Ngươi hít sâu một hơi, thả người nhảy lên, mấy cái lên xuống gian, đã thoán thượng đỉnh núi.
    <br/>
    <a href="{{ url(request, 'Map/Index/delivery/751') }}">Nhìn quanh bốn phía</a>
    <br/>
    <a href="{{ url(request, 'Map/Index/index') }}">Trở lại trò chơi</a>
{% endblock %}