{% extends "Base/parent.twig" %}

{% block body %}
    Ngươi tìm tới khi chỗ đặt chân, tiểu tâm cẩn thận mà càng rơi xuống đi.
    <br/>
    Ngươi bò xuống dưới.
    <br/>
    <a href="{{ url(request, 'Map/Index/delivery/161') }}">Nhìn quanh bốn phía</a>
{% endblock %}